
body{
    min-height: 100vh;
    background: rgb(225, 225, 225);
}

h1{
    color: #222;
}


.container{  
    text-align: center;  
    width: 300px;  
    height: 300px;  
    padding-top: 100px; 
    margin: auto; 
} 

 #btn{  
        padding: 15px 25px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #04AA6D;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
}  

#btn:hover{
        background-color: #337235
}

#btn:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
}

#command {
    text-align: center;
    font-size: 24px;
    color: #222;
}